<!DOCTYPE>
<html>
<head>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

<script type="text/javascript" src="myapp.js" ></script>

<style type="text/css">
	
		#scrollPage 
		{
		   border: 1px black solid;
		   width: 200px;
		   padding: 20px
		}

</style>
<title>Login</title>
</head>
<body ng-app="myApp">

	<div ng-controller="myController">

		<div id="scrollPage">
			<button id="top" ng-click="scrollPageTo('bottom');">Go to Bottom of Page</button>

			<p>
				ontrary to the CPI(M)’s firm stand of no understanding or alliance with the Congress, the Communist Party of India (CPI) has taken a view that the Congress, being the main Opposition party, has a space on the secular democratic platform. The draft political resolution of the CPI will be made public in February.

				“Our political line is based on the idea that we must build a broad platform of secular democratic left forces. In such an effort the Congress will have a place,” CPI leader D. Raja said.

				This should not be confused with electoral tactics. “Electoral alliances will be State-specific, the situation will vary from State to State and will be decided with the objective of defeating the BJP,” he added.

				This political line will be cleared at the Party Congress in April.

				The CPI(M)’s Party Congress too will be held in the same month.

				Poll reverses

				The CPI has been arguing that “Left Alone” has not paid dividends. In the 2015 Bihar Assembly elections and more recently in the Punjab Assembly elections, the Left parties fought alone but did not manage to win a single seat.

				“It will only lead to further isolation. And in a parliamentary democracy one should be mindful of the electoral results,” said a senior CPI leader said.

				The CPI(M) central committee meeting on January 21 ratified a draft political resolution that said there will be no truck with the Congress.

				The intra-party feud between former general secretary Prakash Karat and Sitaram Yechury has hit the headlines.

				While Mr. Yechury argued to keep the door open for any Opposition alliances, Mr. Karat backed by the Kerala faction insisted that there can be no understanding or alliance with the Congress.
			</p>
			<button id="bottom" ng-click="scrollPageTo('top');">Go to Top of Page</button>
		</div>
	</div>

</div>
	
</body>
</html>