<!DOCTYPE>
<html>
<head>

<script type="text/javascript" src="angular.min.js" ></script>
<script type="text/javascript" src="weatherPage.js" ></script>


<title>Login</title>
</head>
<body ng-app="weatherApp">

	<div ng-controller="weatherController">
		City : <input type="text" ng-model="city" placeholder="Enter city name here" /> <br/>
		Country: <input type="text" ng-model="country" placeholder="Enter country name here" />
		<button ng-click="getWeather()">Get Weather</button>
		<br/>
		<br/>
		<b>Weather Condition:</b> <span>{{weatherDescription}}</span>
	</div>

</div>
	
</body>
</html>